@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Asegurar que el fondo cambie en modo oscuro */
html {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Modo oscuro */
.dark {
  background-color: #111827; /* Fondo oscuro */
  color: white;
}

.dark .card {
  background-color: #1f2937; /* Color más oscuro para tarjetas */
  color: white;
}
